<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg"
        alt=""
      />
      <div class="slide-pane">
        <h2 class="name">The movie name</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <span>star</span><span class="rating-value">7.5</span
              ><span>/10</span>
            </span>
            <span>463 Reviews</span>
            <span>2021</span>
          </div>
        </div>
        <div class="description">
          A woman whose visit to a hair salon turns into a nightmare when she is
          blackmailed by its owner.
        </div>
      </div>
    </div>
  </div>
</div>
